.looper {
  position: relative;
}
.looper:focus {
  outline: 0;
}

.looper-inner {    
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    min-height: 700px;
}

.looper .item {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.looper .item.next,
.looper .item.prev {
  display: block;
}

.looper .item.active {
  height: 100%;
  display: block;  
}


.looper .item > img {
  display: block;
  line-height: 1;
}
.looper.xfade .looper-inner {
  height: 100%;
}
.looper.xfade .item {
  -webkit-transition: 0.5s ease-in opacity;
  transition: 0.5s ease-in opacity;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.looper.xfade .item.go {
  opacity: 1;
}
.looper.xfade .item.active {
  opacity: 1;
}
.looper.xfade .item.active.go {
  opacity: 0;
}

.looper-control {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 2%;
  width: 4rem;
  height: 4rem;
  margin-top: -1em;
  font-size: 2rem;
  line-height: 4rem;
  color: #fff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  background: #000;
  opacity: 0.5;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.looper-control.right {
  left: auto;
  right: 2%;
}
.looper-control:hover {
  color: #ffffff;
  text-decoration: none;
  text-shadow: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.looper-nav {
  background: transparent;
  text-align: center;
  list-style-type: none;
  margin: 0;
}
.looper-nav > li {
  display: inline-block;
  font-size: 36px;
}
.looper-nav > li a {
  color: #049cdb;
}
.looper-nav > li a:hover {
  color: #036690;
}
.looper-nav > li.active a,
.looper-nav > li.active a:hover {
  color: #036690;
}

@media (max-width: 999px) {  
    .looper-inner,
    .slide {
        min-height: 700px;
    }
}
