/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration:none;
    color: #28B2FF;
}

header {
    text-align: center;
    margin: 2rem;
}

header h1 {
    text-align: left;
    border:1px solid #4d90fe;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    padding: 0.2em 1rem;
    margin: 0 auto;
    min-width: 50%;
    display: inline-block;
    font-size: 0.95rem;
    line-height: 1.5rem;
    font-weight: normal;
}

header h1 b {
    display: inline-block;
    height: 1em;
    vertical-align: -12%;
    font-weight: normal;
    border-left: 1px solid;
    -webkit-animation: blink 1s infinite linear;
    opacity: 1;
}

@-webkit-keyframes blink {
    50% { opacity: 1; }
    51% { opacity: 0; }
    99% { opacity: 1; }
} 


.title {
    font-size: 4rem;
    font-size: 6rem;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 0 2px 2px #28B2FF, 0 4px 2px #28B2FF, 0 6px 2px #28B2FF, 0 8px 2px #28B2FF, 0 9px 0px blue;
    letter-spacing: 5px;
    word-spacing: 10px;
    text-align: center;
}
.title em,
.title u,
.title i {    
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

.title em {
    display: block;
    font-size: 1.2em;
}


body {
    display: -webkit-box;    
    display: flex;        
    flex-direction: column;
    -webkit-box-orient: vertical;
    flex-flow: column;
}

header {
    -webkit-box-flex: 0;
    flex: 0 1 auto;
}

.looper {
    -webkit-box-flex: 1;
    flex: 1 0 auto;
}


footer {
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    text-align: center;
    padding: 2rem 0;
}

footer p {
    margin-top:0;
    margin-bottom:0;
}


.section-child ,
.slide-child {
    width: 70%;
}

.slide {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    justify-content: center;
    height: 100%;    
    background: url(rebel.png) repeat center center;
    color: #fff;  
    font-size: 2rem;  
}


.item h1,
.item.teach .slide h1 b {
    font-weight: normal;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 0 2px 2px #28B2FF, 0 4px 2px #28B2FF, 0 6px 2px #28B2FF, 0 8px 2px #28B2FF, 0 9px 0px blue;
    word-spacing:0.5rem;

}

.item.googleglass .slide {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(whitemalesusinggoogleglass.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
    text-align:center;
}


.item.write-email .slide {
    background-image: url(email.png);
    background-repeat:no-repeat;
    background-size:contain;
}

.item.search .slide {
    background-image: url(LTS-google.gif);
    background-repeat:no-repeat;
    background-size:contain;    
}

.item.wikipedia .slide {
    background-image: url(wikipedia%20browse.gif);
    background-repeat:no-repeat;
    background-size:contain;    
}    

.item.teach .slide img,
.item.teach .slide h1 {
    display: inline-block;
    vertical-align: middle; 
    width: 50%;
    max-height:100%;
}

.item.teach .slide h1 {
    font-size: 3rem;
    font-family: sans-serif;
    text-shadow: none;
}

.item.teach .slide h1 b {
    display: block;
}

.item.teach .slide img,
.item.graph img {
    width: 45%; 
    margin-right: 4%;   
}


.item.graph img {
    float: left;
}


.item.empathize .slide {
    background-image: url(slide-3.png), url(rebel.png);
    background-repeat: no-repeat, repeat;
    background-size: contain;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
